[Unit]
Description=LiteNAS security email notifier service
After=network-online.target nats-server.service
Wants=network-online.target
Requires=nats-server.service

[Service]
Type=simple
User=lite-nas-sec-email-notifier
Group=lite-nas-sec-email-notifier
SupplementaryGroups=lite-nas-security lite-nas
ExecStart=/usr/libexec/lite-nas/security-email-notifier
Restart=on-failure
RestartSec=5s
WorkingDirectory=/
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
CapabilityBoundingSet=
AmbientCapabilities=
UMask=0027
ReadOnlyPaths=/etc/lite-nas/security-email-notifier.conf /etc/lite-nas/certificates/transport /etc/lite-nas/certificates/identities
ReadWritePaths=/var/log/lite-nas/security-email-notifier.log
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
