[Unit]
Description=LiteNAS system metrics service
After=network-online.target nats-server.service
Wants=network-online.target
Requires=nats-server.service

[Service]
Type=simple
User=lite-nas-system-metrics
Group=lite-nas-system-metrics
SupplementaryGroups=lite-nas
ExecStart=/usr/libexec/lite-nas/system-metrics
Restart=on-failure
RestartSec=5s
WorkingDirectory=/
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallArchitectures=native
CapabilityBoundingSet=
AmbientCapabilities=
UMask=0027
ReadOnlyPaths=/etc/lite-nas /proc/stat /proc/meminfo
ReadWritePaths=/var/lib/lite-nas/system-metrics.log
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
